
p.tab {
   color: #FFFFFF;
     font-size:25px;
   margin-left: 100px;

}
.style
                                  {
  html
{
 height: 100%;
}
          body
{
height: 100%;
margin: 0;
height: 100%;
    background-size: cover;
 }
                                   }

